*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.App{
    text-align: center;
    padding: 20px;
}

.btn{
    display: inline-flex;
    margin-right: 5px;
    /* padding: 10; */
}

.card-each{
    /* background-color: blue; */
    display: grid;
}

.card-each h1{
    /* background-color: blueviolet; */
    color: black;
    opacity: 0.5;
    text-align: center;
}
.card-each p{
    font-weight: 400;
    /* background-color: brown; */
    font-size: large;
    text-align: center;
    justify-content: end;
    border: royalblue solid 1px;
    padding: 10px;
}

.day{
    font-size: 50px;
    padding: 10px;
    color: lavender;
    font-weight: 400px;
}